.container__App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.first_scene {
  scroll-snap-align: start;
}
.second_scene {
  scroll-snap-align: start;
}
.third_scene {
  scroll-snap-align: start;
}
